:root {
    --color-cloud: #F4F4FD;
    --color-cornflower: #E7E9FC;
    --color-iris: #4D5AE5;
    --color-navy-blue: #2e2f42;
    --color-white: #FFFFFF;
    --color-slate: #434455;
    --color-ocean: #404BBF;
    --color-green: #31D0AA;
    --color-light-slate: #8E8F99;
    --color-modal-blue: #2E2F4266;
    --color-grey: #2E2F42;
    --color-dairy: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--color-slate);
    background-color: var(--color-white);
}

/* Reset default styles */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Interactive elements */
a:hover,
a:focus {
    color: var(--color-ocean);
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: var(--color-ocean);
}

/* Header */
.logo {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-dark {
    color: var(--color-navy-blue);
}

.text-medium {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-header {
    font-style: normal;
}

.contacts-header {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Hero Section */
.hero {
    background-color: var(--color-navy-blue);
}

.hero-title {
    color: var(--color-white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.btn-hero {
    background-color: var(--color-iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
}

/* Sections */
.title-secondary {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-thirdly {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-primary {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

/* Team Section */
.bg-light {
    background-color: var(--color-cloud);
}

.cart-team {
    background-color: var(--color-white);
}

/* Footer */
.bg-dark {
    background-color: var(--color-navy-blue);
}

.logo-light {
    color: var(--color-cloud);
}

.text-footer {
    color: var(--color-cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}